<div class="country-summary-wrapper">
  <div class="input-group">
    <input
      class="form-control border-end-0 border col-4 country-search"
      type="text"
      placeholder="search country"
      id="example-search-input"
      [(ngModel)]="searchCountry"
    />
  </div>
  <div class="country-list">
    <!-- <ng-container *ngIf="countrySummary$ | async; let countrySummary"> -->
    <div
      *ngFor="
        let eachCountry of countrySummary
          | filterCountry: 'Country':searchCountry
      "
    >
      <app-covid-stat-country-card
        [countryData]="eachCountry"
        (click)="setSelectedCountry(eachCountry)"
        (pinnedStatusToggled)="pinnedStatusToggled($event, eachCountry)"
      ></app-covid-stat-country-card>
    </div>
    <!-- </ng-container> -->
  </div>
</div>
