.pinned-country-wrapper {
    position: fixed;
    top: 0;
    width: 400px;
    z-index: 2;
    background-color: white;
    height: 100%;
    transition: left 300ms ease-in;
    border-left: 1px solid lightgray;

    .pinned-country-toggle {
        transform: rotateZ(-90deg);
        background: blue;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        position: relative;
        top: 350px;
        width: 142px;
        right: 88px;
        cursor: pointer;
    }

    .pinned-country-content {
        padding: 0 16px 8px;
        height: 100%;

        .title {
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.2;
            text-align: center;
            border-bottom: 1px solid lightgray;
            padding-bottom: 4px;
        }

        .pinned-country-list {
            display: grid;
            grid-template-columns: minmax(250px, 1fr);
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 8px;
            padding-top: 16px;
            overflow-y: auto;
            height: 100%;
        }

        .no-pinned-countries {
            text-align: center;
            height: 500px;
            display: grid;
            place-content: center;
        }
    }
}
