.card {
    height: 200px;
    max-height: 200px;
    max-width: none !important;
    margin: 0 !important;
    cursor: pointer;
    transition: transform 300ms ease-in;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    margin-bottom: 4px;
}

.pinned-icon-wrapper {
    position: relative;
}

.pinned-icon {
    height: 38px;
    width: 38px;
    transform: rotateZ(0deg);
    transition: transform 300ms ease-in;
    z-index: 1;
}

.pinned-icon-svg {
    position: absolute;
    top: 6px;
    left: 11px;
}

@keyframes rotateInfinity {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.pinned-icon-wrapper:hover {
    .pinned-icon {
        transform: rotateZ(45deg);
        // animation: rotateInfinity 2s linear infinite;
    }
}
